@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:
      rgb(var(--background-end-rgb));
}
@media (prefers-color-scheme: dark) {
  body {
    --background-end-rgb: 255, 255, 255;
  }
}

.service-card:hover .description-text {
  color: #f3f8ff;
}

.conic-gradient-bg {
  background: conic-gradient(#0252cd, #0252cd54);
}

.logo-font {
  font-family: Righteous;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.custom-box-shadow:hover {
  box-shadow: 32px 32px 71px 0px rgba(2, 82, 205, 0.28) !important;
}

@media (prefers-color-scheme: dark) {
  .custom-box-shadow:hover {
    box-shadow: 32px 32px 71px 0px rgba(66, 141, 255, 0.28) !important;
  }
}

.custom-box-shadow-blue {
  box-shadow: 10px 10px 26px 0px rgba(2, 82, 205, 0.28);
}

.custom-box-shadow-card {
  box-shadow: 0px 1px 20px 0px #e0ecff;
}

.my-svg {
  color: #0252cd !important; /* Override with !important */
  transition: color 0.3s;

  /* Additional styles for hover effect */
  &:hover {
    color: white !important; /* Override with !important */
  }
}

.serviceCard:hover .hoverBgChange {
  background-color: #f3f8ff;
}

@media (max-width: 767px) {
  .project-container {
    width: 345px;
    height: auto;
    border-radius: 16px;
  }
}

.md-screen-font {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: -0.01em;
}

.mobile-header-font {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-align: left;
}

.underline-divider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 19px; /* Adjust this value if you want the underline thicker or thinner */
  width: 100%;
  background-color: #ffbe62;
  z-index: 5;
}

/* By default, hide the arrows */
.left-arrow,
.right-arrow {
  display: none;
}

/* Show the arrows on larger screens (e.g., tablet and desktop) */
@media (min-width: 768px) {
  .left-arrow,
  .right-arrow {
    display: block; /* or 'inline-block' or 'flex', depending on your design */
  }
}

/* Base slider styling */
.custom-range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #778295; /* Color of the slider line */
  border-radius: 1px;
  cursor: pointer;
}
.custom-range-slider-dark {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #778295; /* Color of the slider line */
  border-radius: 1px;
  cursor: pointer;
}

.custom-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 44px; /* Inner circle width */
  height: 44px; /* Inner circle height */
  border: 1px solid #FFFFFF; /* Inner circle border */
  background: #FFFFFF; /* Inner Circle background*/
  border-radius: 50%; /* Makes it circular */
  cursor: pointer; /* Cursor changes when hovering over the thumb */
  /* Outer circle simulated by box-shadow*/
  box-shadow: 
  0 0 0 13px #192333, /* Inner circle size and color in dark mode */
  0 0 0 14px #778295; /* Outer border size and color in dark mode */
}

.custom-range-slider-dark::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 44px; /* Inner circle width */
  height: 44px; /* Inner circle height */
  border: 1px solid #151e2c66; /* Inner circle border */
  background: #151e2c; /* Inner Circle background*/
  border-radius: 50%; /* Makes it circular */
  cursor: pointer; /* Cursor changes when hovering over the thumb */
  /* Outer circle simulated by box-shadow*/
  box-shadow: 
  /* Inner circle size and color */ 
    0 0 0 13px #f3f8ff,
    /* Outer border size and color with transparency */
    0 0 0 14px rgba(21, 30, 44, 0.4); 
}

.custom-slider-handle {
  position: absolute;
  /* Adjust positioning and size to fit the slider */
}

.selected-class {
  transition: transform 150ms;
  transform: translateY(10px); /* Apply translateY on small screens */
  filter: grayscale(0); /* Assuming no grayscale by default */
  box-shadow: 32px 32px 71px 0px rgba(2, 82, 205, 0.28);
}

/* Medium screens (e.g., tablets) and larger */
@media (min-width: 768px) {
  .selected-class {
    transform: scale(1.05) translateX(2rem); /* Apply translateX on medium screens and larger */
  }
  
}

.work-experience-shadow {
  border-radius: 1.25rem;
  box-shadow: 0px 10px 66px 0px rgba(0, 0, 0, 0.1);
  background: var(--white-800, #f3f8ff);
}

.company-card:hover {
  transition: transform 150ms;
  transform: translateY(10px); /* Apply translateY on small screens */
  filter: grayscale(0); /* Assuming no grayscale by default */
  box-shadow: 32px 32px 71px 0px rgba(2, 82, 205, 0.28);
}
  @media (min-width: 768px) {
    .selected-class {
      transform: scale(1.05) translateX(2rem); /* Apply translateX on medium screens and larger */
    }
}

/* Recommendations animations */
@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left {
  animation: slide-out-left 0.5s ease forwards;
}

.slide-in-left {
  animation: slide-in-left 0.5s ease forwards;
}

.slide-right {
  animation: slide-out-right 0.5s ease forwards;
}

.slide-in-right {
  animation: slide-in-right 0.5s ease forwards;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1921px) {
  .navbar-3xl {
    margin-left: auto;
    margin-right: auto;
    width: 1920px; /* Max width you want */
    left: 0;
    right: 0;
    transform: translateX(0);
  }
}